@model CustomerTierSearchModel

@using Nop.Web.Areas.Admin.Models.CustomersTiers;
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework

@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Nop.Web.Framework.UI
@using Nop.Web.Framework.Extensions
@using System.Text.Encodings.Web
@using Nop.Web.Framework.Models.DataTables;
@using Microsoft.AspNetCore.Routing;

@{
    ViewBag.PageTitle = T("Admin.CustomerTier.list").Text;
    Html.SetActiveMenuItemSystemName("Polls");
}


<div class="content-header clearfix">
    <h1 class="float-left">
        @*@T("Admin.ContentManagement.Polls")*@
        Customer Teir
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @*@T("Admin.Common.AddNew")*@
            Add New
        </a>
        @*@await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.PollListButtons })*@
        @*@Url.Action("" , "")*@
    </div>
</div>

<div class="card card-default">
    <div class="card-body">


        @await Html.PartialAsync("Table", new DataTablesModel
                     {
                   Name = "CustomerTier-grid",
                   UrlRead = new DataUrl("List", "CustomersTier", null),
                   //SearchButtonId = "search-poll",
                   Length = Model.PageSize,
                   LengthMenu = Model.AvailablePageSizes,
                   Filters = new List<FilterParameter>
                   {
                        new FilterParameter(nameof(Model.SearchStoreId))
                   },//BaseSearchModel
                   ColumnCollection = new List<ColumnProperty>
                   {
                        new ColumnProperty(nameof(CustomersTierModel.Name))
                        {
                            Title = "Name"
                        },
                        new ColumnProperty(nameof(CustomersTierModel.DisplayOrder))
                        {
                            Title = "Display Order",
                            ClassName =  NopColumnClassDefaults.CenterAll,
                            Width = "100"
                        },
                        new ColumnProperty(nameof(CustomersTierModel.Description))
                        {
                            Title = "Description",
                            Width = "100",
                            ClassName =  NopColumnClassDefaults.CenterAll
                        },
                        new ColumnProperty(nameof(CustomersTierModel.Id))
                        {
                            Title = T("Admin.Common.Edit").Text,
                            Width = "100",
                            ClassName =  NopColumnClassDefaults.Button,
                            Render = new RenderButtonEdit(new DataUrl("Edit"))
                        }
                   }
   })
    </div>
</div>
